.CatalogPage {
    display: grid;
    grid-template-areas: 
        "filters selected-filters"
        "filters cars";
    padding: 67px 37px;
    column-gap: 32px;
    grid-template-columns: 264px auto;
    grid-template-rows: 70px auto;

    @media screen and (max-width: 768px) {
        grid-template-areas: 
            "filters"
            "selected-filters"
            "cars";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        padding: 24px 16px;
        row-gap: 12px;
    }
}