@import '../../App.scss';

.CarsSection {
    display: flex;
    flex-direction: column;
    grid-area: cars;
    
    button {
        margin-bottom: 35px;   
        border: none;
        width: 44px; 
        height: 44px;
        background: $color-gray-200;
        border-radius: 50%;
        padding: 8px;
        margin-left: auto;
        display: none;
    }

    &__cars-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
        grid-gap: 1.3rem;
        grid-auto-rows: min-content;
        justify-content: center;
    }

    &.active-list-view {
        .CarsSection__cars-container{
            grid-template-columns: 100%;
        }

        button {
            background: none;
        }
    }
    
    @media screen and (max-width: 580px) {
        button {
            display: block;
        }
    }
}