@import '../../App.scss';

.Filter {

    &[open] summary:after {
        content: " ▼";
    }
    border-bottom: 1px solid $color-gray-350;

   
    summary {
        @include typography(16px, 700, 24px, $color-gray-1000);

        display: flex;
        justify-content: space-between;        
        list-style: none;
        &::-webkit-details-marker {
            display: none
        }
        &::after {
            content: ' ►';
        }  
        margin: 20px 0px;
    }
    

    ul {
        padding: 0;
        li {
            @include typography(14px, 500, 20px, $color-gray-1000);

            margin-bottom: 20px;
            &::marker {
                color: transparent;
            }
        }
    }
}